.mat-mdc-dialog-actions {
  justify-content: center;
}

.mat-mdc-dialog-title {
  text-align: center;
}

.mat-mdc-dialog-title {
  padding-bottom: 15px;
  font-size: 24px;
}

.red {
  color: red !important;
}

