<div class="wrapper ">

  <app-categories
    [categories]="categories"
    [selectedCategory]="selectedCategory"

    (selectCategory)="onSelectCategory($event)"
    (deleteCategory)="onDeleteCategory($event)"
    (updateCategory)="onUpdateCategory($event)"
    (addCategory)="onAddCategory($event)"
    (searchCategory)="onSearchCategory($event)"
  ></app-categories>

  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
      <app-header
        [categoryName]="selectedCategory ? selectedCategory.title : 'Все'"
        (toggleStat)="toggleStat($event)"
        [showStat]="showStat"
      ></app-header>
    </nav>

    <div class="content">
      <div class="container-fluid">
        <app-statistics
          [totalTasksInCategory]="totalTasksCountInCategory"
          [completeTasksInCategory]="completedCountInCategory"
          [uncompleteTasksInCategory]="uncompletedCountInCategory"
          [showStat]="showStat"
        ></app-statistics>

        <div class="row">
          <div class="col-12">

            <app-tasks
              [tasks]="tasks"
              [priorities]="priorities"

              (deleteTask)="onDeleteTask($event)"
              (updateTask)="onUpdateTask($event)"
              (selectCategory)="onSelectCategory($event)"
              (addTask)="onAddTask($event)"

              [selectedCategory]="selectedCategory"
              (filterByStatus)="onFilterTasksByStatus($event)"
              (filterByTitle)="onSearchTasks($event)"
              (filterByPriority)="onFilterTasksByPriority($event)"
            ></app-tasks>

          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
